
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }    


  .product-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width:23%;
    background-color:rgb(126, 216, 219);
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 20px;
    margin-bottom: 40px;
    
  }
  .product-image{
    border-radius: 10px;
  }

  .product-cart-details {
    padding-left: 15px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* SHOPPING CART CSS STARTS--------------------------------------------------- */

  .shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }
  .shopping-title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
   
  .shopping-item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
   
  .shopping-product-name {
    padding-top: 50px;
    width: 115px;
    
  }
   
  .shopping-product-name span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
    text-align: center;
  }
  	
  .shopping-buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
 .shopping-delete-btn,
.shopping-like-btn {
  display: inline-block;
  Cursor: pointer;
}
.shopping-delete-btn {
  width: 18px;
  height: 17px;
  /* background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center; */
}
 
.shopping-like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  /* background: url('twitter-heart.png'); */
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
} 
.shopping-quantity {
  padding-top: 35px;
  margin-right: 60px;
  display: inline-flex;

}
.shopping-quantity-input {
  /* -webkit-appearance: none; */
  border: none;
  text-align: center;
  width: 60px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
  padding-top: 15px;
}

.total-price {
  width: 83px;
  padding-top: 48px;
  text-align: center;
  font-size: 16px;
  color: #1c1c1d;
  font-weight: 300;
}

.total-amount{
  padding-left: 120px;
  padding-top: 50px;
}

/* SHOPPING CART CSS ENDS______________________________________ */
 

/* CHECKOUT PAGE CSS STARTS______________________________________ */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  .checkout{
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    background-color: #ecf1ef;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:40px
    
  }
  .billing{
    width: 70%;
    /* padding-top: 20px; */
    /* padding-left:20px */
  }
  .billing-details{
    margin-top:20px
  }
 
   
  .checkout-shopping-item {
    padding-top: 30px;
    height: auto;
    display: flex;
  }

  .checkout-shopping-image{
    padding-left: 10px;
    padding-right: 25px;
  }
   
  .checkout-shopping-product-name {
    padding-top: 20px;
    width: 100px;
    height: auto;
    text-align: center;
    padding-left: 10px;
    font-size: 14px;
  }
  	
  .shopping-buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
 .shopping-delete-btn,
.shopping-like-btn {
  display: inline-block;
  Cursor: pointer;
}
.shopping-delete-btn {
  width: 18px;
  height: 17px;
  /* background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center; */
}
 
.shopping-like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  /* background: url('twitter-heart.png'); */
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
} 
.checkout-shopping-quantity {
  padding-top: 20px;
  display: inline-flex;
  width: 100px;
  text-align: center;

}

.checkout-total-price {
  width: 100px;
  padding-left: 15px;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #1c1c1d;
  font-weight: 300;
}

.checkout-total-amount{
  padding-top: 50px;
}

.checkout-shipping-cart-contents{
  padding-left: 10px;
  display: -webkit-inline-flex;
  text-align: center;
  width: auto;
}

.checkout-shipping-cart-content {
  width:90px;
  height:auto;
}



/* CHECKOUT PAGE CSS ENDS______________________________________ */  


/* PAYMENT OPTIONS CSS STARTS______________________________________ */  

.payment-options-heading{
  margin-top: 30px;
  padding-left: 30px;
  margin-bottom: 20px;
}

.payment-options{
  
  padding-left: 30px;
}

/* PAYMENT OPTIONS CSS ENDS______________________________________ */  



/* CREDIT/DEBIT CSS STARTS-------------------------------------- */

.credit-debit-container{
  width: 500px;
  height: auto;
  background-color: #7b7e81;
  padding: 30px;
  border-radius: 5px;
 
}

.credit-debit-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.credit-debit-col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.credit-debit-col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.credit-debit-col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.credit-debit-col-25,
.credit-debit-col-50,
.credit-debit-col-75 {
  padding: 0 16px;
}

/* CREDIT/DEBIT CSS ENDS----------------------------------- */


.shop{
  margin-top:50px;
}

/* ORDER STATUS CSS STARTS----------------------------------- */

.orderStatus{
  width: 80%;
  height: auto;
  background-color: #b3b3b3;
  margin: 10%;
  padding: 5%;
  border-radius: 5px;

}

.orderStatus-heading{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.orderStatus-contents{
  padding-top: 10px;

}

/* ORDER STATUS CSS ENDS----------------------------------- */



/* SINGLE PRODUCT VIEW CSS STARTS----------------------------------- */

.image-block{
  text-align: center;
  padding-top: 70px;
}

.thumbnail-block{
  text-align-last: center;
  padding-top: 30px;
}

.thumbnail-div{
 padding: 10px;
 width:70px;
 height:70px;
 display:inline-flex;
}

.thumbnail{
  border: 1px solid black;
  width:50px;
  height:50px;
}

.in-stock{
  color:rgb(6, 6, 194)
}

.out-of-stock{
  color:red
}

.product-details{
  padding-left: 15px;
  margin: 15px;
}

.product-details-heading{
  padding-top: 70px;
}

.product-view-tabs{
  background-color: #e4e3e3;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 30px;
}

div.additonal_info_div{
  display:inline-flex;
  background-color: #04AA6D;
   
}

label.additonal_info_label{
  /* width: 100px;
  height:auto; */
  color: red;
  padding: 0px 20px

}

label.additonal_info_value{
  /* width: 300px;
  height:auto; */
  color: rgb(126, 216, 219);
  padding: 0px 10px;

}

.parent_review{
    padding:0px
}

.parent_review_replies{
  padding-left: 50px;
}

/* SINGLE PRODUCT VIEW CSS  ENDS----------------------------------- */




  .container {
    padding: 2px 16px;
  }

  header .header{
    background-color: #fff;
    height: 45px;
  }
  header a img{
    width: 134px;
  margin-top: 4px;
  }

  /* SIGNUP FORM CSS STARTS-----------------------------------------*/

  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .login-page .form .login{
    margin-top: -31px;
     margin-bottom: 26px;
  }
  .login-page-hr{
    margin: 20px 0px;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 35px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  /* .logincontainer {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  } */
  
  body {
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


/* SIGNUP FORM CSS STARTS-----------------------------------------*/


  /* * {box-sizing: border-box} */

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #fff;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #232129;
  margin-bottom: 25px;
  margin-right: 40px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
/* @media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
} */



